.fleet-hero-desc {
  position: absolute;
  top: 170px;
  left: 100px;
}
.fleet-hero-desc h1 {
  font-size: 74px;
}
.fleet-content {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 85px 0px;
}
.fleet-main-header {
  padding-left: 80px;
  padding-right: 80px;
}
.fleet-main-container {
  width: 100%;
  max-width: 979px;
}
.fleet-secondary-content {
  padding: 160px 0px;
}
.fleet-img {
  width: 100%;
  max-width: 394px;
  height: auto;
}
.fleet-title {
  line-height: 50px;
  width: 100%;
}
.fleet-banner img {
  width: 100vw;
  height: auto;
  min-height: 366px;
  object-fit: cover;
}
.fleet-banner-info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 1000px) {
  .fleet-hero-desc {
    position: absolute;
    top: 80px;
    left: 100px;
  }
}

@media screen and (max-width: 752px) {
  .fleet-hero-desc {
    position: absolute;
    top: 98px;
    left: 50%;
    transform: translateX(-50%);
  }
  .fleet-secondary-content {
    gap: 218px;
  }
  .fleet-main-container .fs-60 {
    font-size: 42px;
  }
  .fleet-main-container .fs-24 {
    font-size: 20px;
  }
  .flex-secondary-content-item {
    flex-direction: column;
    gap: 74px;
  }
  .fleet-img {
    width: 100%;
    max-width: 100%;
  }
  .fleet-item-desc {
    padding-left: 80px;
    padding-right: 80px;
    justify-content: center;
  }
  .fleet-item-desc .fs-50 {
    font-size: 42px;
  }
  .fleet-title {
    text-align: center;
  }
  .fleet-title-left {
    text-align: left;
  }
  .fleet-banner-info {
    gap: 20px;
  }
}

@media screen and (max-width: 550px) {
  .fleet-main-header {
    padding-left: 30px;
    padding-right: 30px;
  }
  .fleet-item-desc {
    padding-left: 30px;
    padding-right: 30px;
  }
  .fleet-secondary-content {
    gap: 118px;
  }
  .fleet-secondary-content {
    padding: 100px 0px;
  }
}

@media screen and (max-width: 360px) {
  .fleet-hero-desc {
    top: 58px;
  }
  .fleet-hero-desc h1 {
    font-size: 54px;
  }
  .fleet-banner-info h2 {
    font-size: 32px;
  }
}
