.subscribe-hero-desc {
  position: absolute;
  top: 186px;
  left: 200px;
}
.subscribe-content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.subscribe-main-container {
  width: 100%;
  max-width: 950px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 177px;
  padding: 168px 16px;
}

.subscribe-input {
  background-color: var(--grey);
  padding: 19px;
  width: 100%;
}

.subscribe-input input[type="text"],
.subscribe-input input[type="email"],
.subscribe-input input[type="tel"] {
  border: none;
  outline: none;
  background-color: var(--grey);
  width: 100%;
  height: 50px;
  font-size: 30px;
  font-weight: 400;
  font-family: "Bebas Neue";
}
.subscribe-checkbox {
  appearance: none;
  -webkit-appearance: none;
  width: 25px;
  height: 25px;
  border: 2px solid #000;
  border-radius: 0;
  background-color: white;
  cursor: pointer;
  position: relative;
  margin: 0;
}

.subscribe-checkbox:checked {
  background-color: var(--black);
}

.subscribe-checkbox:checked::after {
  content: "✓";
  position: absolute;
  color: white;
  font-size: 18px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
}

.subscribe-checkbox:hover {
  border-color: #666;
}
.subscribe-submit-btn {
  min-width: 210px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 1100px) {
  .subscribe-hero-desc {
    top: 100px;
    left: 100px;
  }
}

@media screen and (max-width: 900px) {
  .subscribe-hero-desc {
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media screen and (max-width: 752px) {
  .subscribe-main-container {
    max-width: 600px;
    padding: 110px 0px;
    margin-left: 16px;
    margin-right: 16px;
  }
  .subscribe-content .fs-50 {
    font-size: 42px;
  }
  .subscribe-content .fs-20 {
    font-size: 20px;
  }
  .subscribe-input-row {
    flex-direction: column;
  }
  .subcribe-form-container .fs-50 {
    font-size: 40px;
  }
  .subscribe-input label {
    font-size: 20px;
  }
  .subscribe-input input[type="text"],
  .subscribe-input input[type="email"],
  .subscribe-input input[type="tel"] {
    height: 30px;
    font-size: 20px;
  }
  .subsribe-checkbox-wrapper {
    margin-top: 50px;
  }
  .subscribe-checkbox-text {
    font-size: 16px !important;
    width: 100%;
  }
  .subsribe-break {
    display: none;
  }
}

@media screen and (max-width: 450px) {
  .subscribe-hero-desc {
    top: 20px;
  }
  .subscribe-hero-desc h1 {
    font-size: 54px;
  }
  .subscribe-content .fs-50 {
    text-align: center;
  }
  .subscribe-main-container {
    gap: 120px;
  }
  .subcribe-form-container {
    gap: 30px;
  }
  .subsribe-checkbox-wrapper {
    gap: 15px;
  }
}
