.thanks-main-container{
    padding: 120px 16px;
}
.thanks-main-container .btn-outline{
    margin-top:130px;
}
@media screen and (max-width:752px){
    .thanks-main-container .fs-24{
        font-size:20px;
    }
}

@media screen and (max-width:450px){
     .thanks-main-container .fs-24{
        text-align:center;
    }
    .thanks-main-container .fs-50{
        font-size:40px;
    }
}
